html,body{
  margin 0
  padding 0
  height 100%
  width 100%
}
body{
    background url("../images/chengbao.jpg")
    background-position center
    background-size cover
    color #4d4d4d
    font 14px "Microsoft YaHei UI Light"
    font-weight 300
}